<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Coderthemes">

    {% block stylesheets %}
    {% endblock %}

    <title>
        {% block title %}
            Aupf
        {% endblock %}
    </title>
</head>
<body>
{% block body %}
{% endblock %}
{% block js %}
{% endblock js %}
</body>
</html>